@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", sans-serif; 
#FFB330
*/
.imagen-redonda {
  width: 100px;  /* Define un ancho y alto igual para asegurar un círculo perfecto */
  height: 100px; /* Deben ser iguales */
  border-radius: 50%; /* ¡Este es el truco! Hace que los bordes sean curvos */
  object-fit: cover; /* Opcional: Asegura que la imagen cubra todo el círculo sin distorsionarse */
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #dc6c0a;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #ffb330;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/* nav ul li {
    flex-grow: 1;
} */

nav ul li a {
    display: block;
    text-align: left;
    padding: 3px 6px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #e69528;
}

footer {
    background-color: #dc6c0a;
    clear: both;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}   

.holder {
    max-width: 960px;
    margin: 0 auto;
    /* background-color: red; */
}

.homeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

h2 {
    color: #3d1ad8;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Inicio home */

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    /* background-color: yellow; */
}

.bienvenidos p {
    font-size: 20px;
}

.testimonios {
    /* display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly; */
    width: 25%;
    /* background-color: lightblue; */
}

.columnas {
    display: flex;
}

.testimonio {
    background-color: #ccc;
    padding: 16px;
    /* border-bottom: #3d1ad8 4px solid; */
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    /* background-color: yellow; */
    display: block;
}

.testimonio .autor {
    text-align: center;
    font-size: 10px;
    /* background-color: lightcoral; */
    display: block;
    /* margin: 12px 0; */
    height: 20px;
    padding-top: 5px;
}

/* Fin home */

/* Inicio Nosotros */

.historia p {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    /* background-color: orange; */
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5 {
    margin-top: 5px;
    font-size: 14px;
}

.persona h6 {
    font-size: 11px;
    font-style: italic;
}

.persona p {
    font-size: 10px;
    color: #666;
}

/* Fin de nosotros */

/* Inicio de servicios */

.servicio {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.servicio .info h4 {
    color: #2e64a1;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}

.servicio .info p {
    font-size: 13px;
    /* line-height: 19px; */
}

.servicio img {
    max-width: 225px;
    border-radius: 13px;
    display: block;
}

.servicio:nth-child(even) { /*impares*/
flex-direction: row-reverse;
}
/* Fin de servicios */

/* envios puerta a puerta, servicio postal ,traslado equipamiento mobiliario/industrial */
