.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    height: 100px;
    background-color: white;
    justify-content: space-between;
}
#rojo{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 20px;
    color: white;
    background-color: #fa1414;
    display: flex;
    justify-content: center;
    align-items: center;
}

#azul{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 20px;
    color: white;
    background-color: #1e7eeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verde{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 0px;
    font-size: 20px;
    color: white;
    background-color: #1cf14d;
    display: flex;
    justify-content: center;
    align-items: center;   
}