div{
    width: 200px;
    height: 200px;
    background-color: yellow;
    cursor: pointer;
}

div:hover{
    background-color: orange;
}

/*first-child y last-child*/
/*nth-child(n)*/

span{
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
}

span::after{
    content: " despues";
    background-color: red;
    color: white;
} 

span::before{
    content: "antes ";
    background-color: blue;
    color: white;
}