.contenedor{
    background-color: blue;
    height: 500px;
    display: flex;
    align-items: flex-start;
    /*align-items: flex-end;*/
    align-items: center;
    align-items: stretch;
}

.item {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}